- name: Ensure mrfioc2 module directory exists
  ansible.builtin.file:
    path: "{{ epics_base_dir }}/../modules/mrfioc2"
    state: directory
    mode: '0755'

- name: Check if mrfioc2 repository is already cloned
  ansible.builtin.stat:
    path: "{{ epics_base_dir }}/../modules/mrfioc2/.git"
  register: mrfioc_repo_exists

- name: Clone mrfioc2 repository {{ mrfioc_version }}
  ansible.builtin.git:
  #  repo: "https://github.com/epics-modules/mrfioc2.git"
    repo: "https://github.com/amichelotti/mrfioc2.git"
    dest: "{{ epics_base_dir }}/../modules/mrfioc2"
    version: "{{ mrfioc_version }}"
  when: not mrfioc_repo_exists.stat.exists

- name: Ensure configure directory exists in mrfioc2
  ansible.builtin.file:
    path: "{{ epics_base_dir }}/../modules/mrfioc2/configure"
    state: directory
    mode: '0755'

- name: Set EPICS_BASE in mrfioc2 configure/RELEASE file
  ansible.builtin.lineinfile:
    path: "{{ epics_base_dir }}/../modules/mrfioc2/configure/RELEASE"
    line: |
      EPICS_BASE={{ epics_base_dir }}
      DEVLIB2={{ epics_base_dir }}/../modules/devlib2
    create: yes

- name: Compile mrfioc2 module {{ mrfioc_version }}
  ansible.builtin.shell: |
    make
  args:
    chdir: "{{ epics_base_dir }}/../modules/mrfioc2"


- name: Install kernel headers for Debian-based systems
  apt:
    name: linux-headers-{{ ansible_kernel }}
    state: present
  when: ansible_distribution == "Debian" or ansible_distribution == "Ubuntu"

- name: Install kernel headers for Red Hat-based systems
  yum:
    name: kernel-devel
    state: present
  when: ansible_distribution == "RedHat" or ansible_distribution == "CentOS" or ansible_distribution == "Fedora"


- name: Compile mrfioc2 kernel module {{ mrfioc_version }}
  ansible.builtin.shell: |
    make
    make modules_install
    modprobe mrf
  args:
    chdir: "{{ epics_base_dir }}/../modules/mrfioc2/mrmShared/linux"